

body{
    /* background-image: url("image/bg.jpg"); */
    /* background-size: 100% 120%; */
    background-color: black;

}



*{
    font-family: 'Montserrat', sans-serif;
}

.nav-link{
    color: white !important;
    font-weight: 500 !important;
    margin-left:414.4px;
    margin-top: 335.35px;
}

.navbar-brand img{
    margin-top:15px;
    margin-left:-45px;
    border-radius: 15px;
    font-style:italic;
}



.slogan{
  margin-left:0px;
  margin-top: 75px;
  text-align:center;
  font-size: 32px;

}

.btn-custom{
    background-image: url("image/blue.png");
    font-weight: 800 !important;
    color:rgb(13,2,31) !important;
     
}

.btn-collection{
     
    max-width: 241px;
    margin:  2em auto;
}


.img-card{
    margin: 5px 0px;
    transition: .1s;
}
.img-card:hover{
    transform: scale(1.04);
    cursor: pointer;
}

.movie-list img{
  border-radius:35px;
  margin: 20px;

}

.btn-collection-playing{
     
    max-width: 110px;
    margin:  2em auto;
}



.mySlides {display: none;}

.mySlides img{
    border-radius:20px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    text-align: center;

}

  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 18px 62px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

  .lottieanim{
      

        position:fixed;
        right:10px;
        bottom: 10px 

  }

  .leftanim{
    position:absolute;
    left:10px;
    bottom: 10px 
  }

  .contact{
    height: 260px;
    width:100%;
    background-color: darkgray;
    color:rgb(13,2,31);
    
  }
  .nav-item{
    color: white !important;
    font-weight: 500 !important;
    margin-left:150.4px;
    margin-top: 20.35px;
  }
  .nav-buy{
    color: white !important;
    font-weight: 500 !important;
    margin-left:700px;
    margin-top: 20px;
  }
  .nav-play{
    color: white !important;
    font-weight: 500 !important;
    margin-left:900px;
    margin-top: -64px;
    margin-right: 400px;
    margin-bottom: 100px;
  }
  .nav-come{
    color: white !important;
    font-weight: 500 !important;
    margin-left:400px;
    margin-top: -165px;
    margin-right:300px;
    margin-bottom: 40px;

  }


  /* rgb(13, 2, 31)*/